[submodule "roles/epel"]
	path = roles/epel
	url = https://github.com/sfromm/ansible-epel
[submodule "roles/nginx"]
	path = roles/nginx
	url = https://github.com/datadog-galaxy/nginx.git
[submodule "roles/repo-remi"]
	path = roles/repo-remi
	url = https://github.com/hostclick/remi_repo.git
[submodule "roles/java-oracle"]
	path = roles/java-oracle
	url = https://github.com/William-Yeh/ansible-oracle-java.git
